@import "header";
@import "_common";

$main-orange : #FFBA03;
$border_lvl : 0.5em;

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  font-family : $font-stack;
}


.pure-button.button-secondary {
  background-color: #42B8DD
}

// Image by Peter Lee. Original source: https://www.flickr.com/photos/oldpatterns/8021992629/
body {
  background: url( '../images/concerts.jpg' ) no-repeat center center fixed;
  background-size: cover;
  min-width: 20em; /* 320px / 16 */
}

h1 {
  color: black;
  font-weight: $normal;
}
h3 {
  font-weight : $semibold;
}

.button-secondary {
  color: white;
  background-color: #42B8DD;
}

.main-landing {
  background-color: $off-white;
  width: 50%;
  position: absolute;
  left: 0;
  right: 0;
  top: 25%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 10%;
  padding: 3%;
  border-radius: 0.5em;
  text-align: center;

  h1, h3 {
    color: black;
  }

  h3 {
    font-weight: $light;
  }

  .description {
    margin-top: .2em;
    font-weight: $normal;
    font-size: .9em;
    font-style: italic;
  }
}

#map-canvas {
  height : 18em;
}

.box {
  margin : 10% 10% 0 10%;
}

.box-header {
  background-color : $main-orange;
  text-align       : center;
  border-radius: $border_lvl $border_lvl 0 0;

  h1 {
    margin: 0.4em 0;
  }
}

.box-subheader {
  background-color: $off-white;
  height: 4.5em;
  padding: 0.5em 0;

  img {
    margin-top: 0.8em;
  }
}

.box-body {
  background-color : white;
}

.location {
  margin-bottom : 3%;
  padding       : 2%;
}

.event-listings.box {
  margin-top    : 5%;
  margin-bottom : 5%;

  h1 {
    margin-bottom: 0;
  }
  .search-dates {
    margin-top: 0;
    font-weight: 600;
  }
}

.event-listings.box-body {
  width : 100%;
}

.event-wrapper {
  padding: 2%;
  box-shadow : inset 0 0 1px #333333;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: white;
}

.event {
  -o-transition      : .5s;
  -ms-transition     : .5s;
  -moz-transition    : .5s;
  -webkit-transition : .5s;
  transition         : .5s;
}

.event-listings.box-body > .event:hover {
  background-color : #1c1d21;
  color            : #6e6e6e;
}

.event-listings {
  display: flex;
  flex-flow: row wrap;
}

.event-date-box,
.event-info-box {
  display        : table-cell;
  vertical-align : top;
  padding: 5% 0;
}

.event-info-box {
  padding-left: 5%;
}

.event-info-box > h3 {
  margin : 0;
}

.event-info-box > h4 {
  margin          : 0.5em 0;
  font-weight     : $normal;
}

.event-date {
  width         : 4.85em;
  height        : 4.85em;
  max-width     : 5.25em;
  border-radius : 3.125em;
  font-size     : 1.25em;
  color         : #fff;
  line-height   : 4.85em;
  text-align    : center;
  background    : #000;
  margin        : 0 auto;
}

.getEvents {
  padding-bottom: 2em;
  text-align: center;
  background-color : white;
  justify-content  : flex-end;
  border-radius: 0 0 $border_lvl $border_lvl;

  .getEventsBtn {
    letter-spacing: 0em; //Fix button scrunching in FF
  }
}

.overlay {
  position         : fixed;
  top              : 0;
  right            : 0;
  left             : 0;
  bottom           : 0;
  background-color : rgba(0, 0, 0, 0.65);
  z-index          : $zIndexOverlay;
}

.hide {
  display : none;
}




// Small - Medium
@media screen and (max-width : 52.8675em) {
  .box {
    margin: 10% 15%;
  }
  .event-wrapper {
    text-align : center;
  }

  .event-date-box,
  .event-info-box {
    display : block;
    margin  : 0 auto;
  }

  .event-date {
//    width : 100%;
  }

  .event-info-box {
    padding-left: 0;
  }
}

// small single col
@media screen and (max-width: 35.5em ) {

  .main-landing {
    width: 80%;
  }

  .box-header {
    margin-top: 4em;
  }

  .event-listings {
    .box-header {
      margin-top: 1em;
    }
  }

  .box {
    margin: 10% 2%;
  }

  #map-canvas {
    height: 12em;
  }
}
