* {
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color : black;
}

#map-canvas {
  height           : 300px;
  background-color : blue;
}

.box {
  margin: 10% 10% 0 10%;
}

.box-header {
  background-color : #FFBA03;
  text-align:center;
}

.box-body {
  background-color : white;
}

.location {
  margin-bottom: 5%;
  padding: 2%;
}

.next-page {
  margin: 0 10% 0 10%;
  background-color: white;
  justify-content: flex-end;
}

.nextPageBtn {
  background-color: #FFBA03;

}
