extends layout

block content
  .overlay.hide

  section.pure-g.box
    .pure-u-1.box-header
      h1 Concerts
    .pure-u-1.box-body
      #map-canvas
      .spinner.traditional
      form.pure-form.location( method="post" )
        fieldset
          legend Look somewhere else
          label( for="city" )
            input( type="text", placeholder="city name", name="city", id="city" )
          button.pure-button.button-secondary( type="submit", name="citysubmitbtn" ) Change city
        .error-msg
    .getEvents
      button.pure-button.pure-button-primary.getEventsBtn( type="submit", name="getEventsBtn" ) Show concerts
  section.event-listings.pure-g.box.hide
    .pure-u-1.box-header
      h1 Event Listings
      h4.search-dates
      .box-subheader
        a( href="http://songkick.com", target="_blank" )
          img( src="public/images/songkick.png", alt="Songkick logo" )


// Scripts
block scripts
  script( src='//maps.googleapis.com/maps/api/js?key=AIzaSyBAv9D3K6sg_qivhqaeBvoL2wAGapLCCVM&sensor=false' )
  script( src='public/js/app.min.js' )