header
  a( href="http://www.echonest.com", target="_blank" )
    img.logo( src="/public/images/echonest_logo.png" )
  ul.menu
    li.menu-item
      a( href="/about", alt="About page" ) About
    li.menu-item
      a( href="/", alt="home" ) Home
