extends ./layout

block content
  section.pure-g.box
    .pure-u-1.box-header
      h1 Looking Around Here?
    .pure-u-1.box-body
      #map-canvas
      form.pure-form.location( method="post" )
        fieldset
          legend Wrong area? Enter your city below.
          label( for="city" )
            input( type="text", placeholder="city name", name="city", id="city" )
          button.pure-button.pure-button-primary( type="submit", name="citysubmitbtn" ) submit
        .error-msg
  section.pure-g.next-page
    button.pure-button.nextPageBtn( type="submit", name="nextPageBtn" ) next

// Scripts
block scripts
  script( src='//maps.googleapis.com/maps/api/js?key=AIzaSyBAv9D3K6sg_qivhqaeBvoL2wAGapLCCVM&sensor=false' )
  script( src='public/js/app.js' )
