extends ./layout

block content
  h1 What's Your Area?
  #map-canvas
  form.location( method="POST" )
    label( for="city" ) City
    input( type="text", name="city", id="city" )
    button( type="submit", name="citySubmitBtn" ) Submit
    .error-msg
  form.next-section
    button( type="submit" ) Next

// Scripts
block scripts
  script( src='//maps.googleapis.com/maps/api/js?key=AIzaSyBAv9D3K6sg_qivhqaeBvoL2wAGapLCCVM&sensor=false' )
  script( src='public/js/app.js' )
